// This here is my fancy SASS snippets collection.
// Leave me a 🌟 if it helps you and you like it 😄


// define font settings using one include to keep everything together.
// -------------------------------------------------------------------------------------
$setsize:16;

@function emSize($size:null) {
    $size: ($size / $setsize);
    @return $size;
}

@function emHeight($size:null, $height:null) {
    $height: (emSize($height) / $size);
    @return $height;
}

@mixin webfont($important:null, $style:null, $color:null, $size:null, $align:null, $height:null, $space:null, $case:null) {
    @if ($important !=null) {
        $important: ' !important';
    }

    @else {
        $important: '';
    }

    @if $style=="light" {
        font-family: fancyPants_light, sans-serif+$important;
    }

    @else if $style=="medium" {
        font-family: fancyPants_medium, sans-serif+$important;
    }

    @if($color !=null) {
        color: unquote($color+$important);
    }

    @if $size==0 {
        font-size: 1em+$important;
    }

    @if $height==0 {
        line-height: 1em+$important;
    }

    @if $size !=0 and $height !=0 and $size !=null {

        font-size: unquote(emSize($size)+'em'+$important);

        @if $height !=null {
            line-height: unquote(emHeight(emSize($size), $height)+'em'+$important);
        }
    }

    @if($align !=null) {
        text-align: $align+$important;
    }

    @if($space !=null) {
        letter-spacing: unquote(emSize($space * 0.2)+'em'+$important);
    }

    @if($case !=null) {
        @if($case=="upper") {
            text-transform: uppercase+$important;
        }

        @else if($case=="lower") {
            text-transform: lowercase+$important;
        }

        @else if($case=="cap") {
            text-transform: capitalize+$important;
        }
    }
}

// -------------------------------------------------------------------------------------
